.menu{
    max-width: var(--width);
    height: 64px;
    margin: 2rem 0 2rem auto;
    background-color: var(--background-green);
    color: var(--color-white);
    display: flex;
    }
.js-menu{
    display: flex;
}
.menu-link{
    display: flex;
    font-size: 14px;
    font-weight: 700;
    padding: 6px 10px;
    letter-spacing: 1.6px;
    align-items: center;
    line-height: normal;
    border-radius: 5px;
    color: var(--color-white);
    margin: 5px 0px 5px 0px;
}
a{
    color: var(--color-white);
}
.menu-link:hover{
    background-color: var(--color-white);
    color: var(--color-brown);
}
a:hover{
    color: var(--color-brown);
}
.toggle {
    align-items: center;
    gap: 0.5rem;
    background-color: #494949;
    padding: 0.625rem;
    border-radius: 5px;
    letter-spacing: 0.1rem;
    font-weight: bold;
    display: none;
}

@media screen and (max-width: 768px) {
    .menu{
        margin: 2rem -5.5rem 2rem 4rem;
    }
    .js-menu{
        display: none;
        animation: fadeOut .3s forwards;
    }

    .toggle{
        display: flex;
    }

    .js-menu.active{
        display: block;
        position: absolute;
        top: 69px;
        left: 0;
        width: 100%;
        margin: 1.5rem 0 auto 2rem;
        background-color: var(--background-green);
        z-index: 100;
        animation: slideDownMenu .5s forwards;
    }

    .toggle span.active{
        animation: slideDownMenu .5s forwards;
    }

}
@keyframes slideDownMenu {
    from {
        opacity: 0;
        transform: translateX(-10px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@media screen and (max-width: 600px) {
    .menu{
        margin: 2rem -5.5rem 2rem 4rem;
    }
    .js-menu.active{
        display: block;
        position: absolute;
        top: 69px;
        left: 0;
        width: 100%;
        margin: 1.5rem 0 auto 4rem;
        background-color: var(--background-green);
        z-index: 100;
        animation: slideDownMenu .5s forwards;
    }
}